@import url('https://fonts.googleapis.com/css2?family=Merienda&family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap');

/* general styles */
body{
  text-align: center;
  margin: 0;
  background-color:#b8b5ae ; 
  font-family: 'Merienda', cursive;
}

main{
  width: 960px;
  display: inline-block;
  background-color: #dedbd1 ;
  height: 100%;
  min-height: 600px;
  padding-bottom: 60px;
  color:#2C3743;
  box-shadow: 0px 0px 20px #2C3743;
}

header, footer{
  background-color: #2C3743 ;
  color: #b9a666;
  font-family: 'Montserrat', sans-serif;
  font-size: 19px;
  position: sticky;
  z-index: 100;
  margin: 0;
  width: 100%;
  left:0;
}

header{
  top:0;
}

header ul {
  width: 50%;
}

footer {
  bottom: 0;
}

.centerHead{
  width: 230px;
}

.alignLeft{
  text-align: left;
}

.link_nav{
  margin: 0px 10px;
  padding: 10px 0px;
  box-sizing: border-box;
}

nav ,.h_nav{
  justify-content: space-between;
  display: flex;
  
}

.link_nav li{
  display: inline;
  padding: 0  2%;
}

a{
  text-decoration: none;
  color:#b9a666;
}

a:hover {
  color: white;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.logout{
  font-size: 15px;
  background-color: #dedbd1;
  position: absolute;
  display: none;
  top:39px; 
  right:0px;
  padding:5px;
  width:230px
}

.userRel{
  position: relative;
}

.userRel:hover a.logout , a.logout:hover{
  display: block;
}

/* Confirmation pop-up message */
#confirm {
  display: none;
  position: fixed; 
  z-index: 12; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.4); 
}
  
#secondDiv  {
  background-color: #b9a666;
  padding: 40px;
  width: 60%;
  height: 200px;
  align-content: center;
  margin: auto;
  border: 3px solid white;
}
  
/* The Close Button */
#span {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#span:hover {
  color: white;
  cursor: pointer;
}
  
#secondDiv p{
  font-size: 40px;
  color: #2C3743;
  padding-top: 10px;
  padding-bottom: 15px;
  font-weight: bolder;
}

#secondDiv  a{
  margin-top: 50px;
  font-size: 24px;
  font-weight: bold;
  color: #2C3743;
  display: block; 
  text-decoration: underline;
}

#secondDiv  a:hover{
  color: white;
  transition-duration: 0.5s ;
}

/* library styles */
ul.infoList {
  position: absolute;
  top:17px;
  left: 0;
  background-color: white;
  width:195px;
  height: 170px;
  padding: 40px 5px 5px 5px;
  padding-inline-start: 0px;
  z-index: 9;
  color: #2C3743;
  box-shadow: 2px 2px 5px rgb(206, 206, 206);
}

.infoList li {
  list-style-type: none;
  border-bottom: 1px solid rgb(214, 214, 214);
  margin-bottom: 7px;
}

.book {
  position: relative;
  width: 200px;
  padding-top: 270px;
  margin: 25px 70px;
}

.removeButton {
  width: 100px;
  height: 40px;
  border: none;
  background-color: #2C3743;
  color: white;
  font-family: inherit;
}

.removeButton:hover{
  cursor: pointer;
  transform: scale(1.05);
  background-color: #b9a666 ;
  transition-duration: 0.2s;
  color: white;
}

.removeButton:active , .removeButton:focus{
  outline: none;
}

.cover , div.emptyPage{
  position: absolute;
  z-index: 10;
  top:0;
  left: 0px;
  transform-origin: 0% 50%;
  box-shadow: 5px 5px 10px #2C3743;
}

/* to make sure the books in index are not affected */
.columns .book:hover .cover{ 
  display: block;
  transform: rotateY(50deg);
  transition-duration: 1s;
  box-shadow: 50px 5px 30px rgba(0, 0, 0, 0.5);
}

.columns .book:hover .titleAuthor{
  transform-origin: 0% 50%;
  transform: rotateY(50deg);
  transition-duration: 1s;
  transition-delay: 0s;
}

.columns .book:hover .infoList{
  transform: translate(120px ,0px);
  transition-duration: 1s;
  transition-delay: 0.2s;
}

img.cover ,div.emptyPage{
  width: 200px;
  height: 250px;
}

div.emptyPage {
  background-image: url(../images/old-paper.jpg);
  z-index: 8;
}

/* tabs */
#catButtons button, .tab button {
  width: 100px;
  height: 40px;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  border-bottom: 1px solid #2C3743;
  font-family: 'Merienda', cursive;
  font-size: 1.05em;  
}

#catButtons,.tab{
  height: 39px;
  border-bottom: 1px solid #2C3743;
  background-color: white;
  padding-top: 5px;
}

#catButtons button:hover,.tab button:hover{
  border-bottom: 1px solid #dedbd1;
  cursor: pointer;
  background-color:#dedbd1 ; 
  box-shadow: 5px -3px 3px #2c374398;
}

#catButtons button:focus,.tab button:focus{
  outline: none;
  background-color:#dedbd1 ; 
  border-bottom: 1px solid #dedbd1;
  box-shadow: 5px -3px 3px #2c374398;
}

#bookCateg{
  min-height: 300px;
}

.nobooksAvailable{
  padding:25px
}

.confirmButtons{
  margin: 25px 5px;
  width: 100px;
  height: 40px;
  border: none;
  background-color: #2C3743;
  color:#b9a666 ; 
  font-family: inherit;
  font-size: 18px;
}

.confirmButtons:hover{
  color:#dedbd1 ; 
  transform: scale(1.1);
}

.confirmButtons:active , .confirmButtons:focus{
  outline: none;
}

p#bookConfirm {
  margin-bottom: 20px;
  font-size: 30px;
  color:#dedbd1 ; 
}

p#bookConfirmTitle{
  font-size: 25px;
}

/* index styles */
#figure-logo{
  background-color: white;
  background-image: url(../images/old-paper2.jpg);
  background-size: cover;
  padding: 20px;
  box-shadow: 0px 5px 10px #2C3743;
  height: 200px;
}

#logo{
  width: 200px;
}

#description {
  word-spacing: 10px;
  font-size: 1.2em;
  line-height: 1.2;
  padding: 20px;
  color: #2C3743;
}

#button{
  height: 200px;
  margin: 0 auto;
}

.buttons-index{
  display: inline-block;
  background-image: url('../images/old-paper2.jpg');
  width: 250px;
  height: 100px;
  margin: 25px 55px;
  padding-top: 65px;
  border-radius: 3px;
  font-size: 20px;
  box-shadow: 0px 5px 10px #2C3743;
  background-size: cover;
  font-family: 'Merienda', cursive;
  color: #2C3743;
}

.buttons-index:hover{
  transform: scale(1.05);
  transition-duration: 0.5s;
}

div#categories{
  background-color: white;
  padding: 20px;
}

#popUpInfo {
  border: 3px solid white;
  background-color: #b9a666;
  color: #2C3743;
  position: absolute;
  width: 20%;
  height: 250px;
  padding: 30px;
  top: 0px;
  left: 36%;
  z-index: 99;
  display: none;
  box-shadow: 0px 5px 10px #2C3743;
}

#popUpInfo ul{
  padding-top: 50px;
}

#popUpInfo li{
  padding: 5px;
}

.relative {
  position: relative;
}

#categText{
  background-color: white;
  height: 75px;  
  line-height: 70px;
  font-size: 35px;
}

.banner{
  width: 200px;
}

.tab{
  margin-bottom: 20px ;
}

.titleAuthor {
  position: absolute;
  top:75px;
  left: 25px;
  font-family: 'Cinzel', serif;
  z-index: 11;
  color: #ddd4c8e3; 
}

.titleAuthor li{
  margin-bottom: 10px;
  width: 150px;
  height: 50px;
  text-shadow: 1px 1px 3px black ;
  font-size: 15px;
  text-overflow: ellipsis;
}

li.on-cover-title{
  font-size: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Donate Form */
.columns {
  display: inline-block;
  vertical-align: top;
}

.fieldset-donate{
  position: relative;
  padding-bottom: 40px;
  width: 50%;
  border: 1px solid;
  background-color: white;
  margin-right: auto;
  margin-left: auto;
}

.donate-legend{
  margin-bottom: 10%;
  font-size: 28px;
}

.donate-title {
  color: #2C3743;
  margin-top: 6%;
  margin-bottom: 2%;
  font-size: 48px;
}

.donate-subtitle{
  font-size: 36px;
  color: #7c0f2a;
  padding-bottom: 1%;
}

.title-container{
  margin-bottom: 5%;
  padding:20px;
  background-image: url(../images/old-paper2.jpg);

  background-size: cover;
  box-shadow: 0px 5px 10px #2C3743;
}

.input-donate {
  display: block;
  height: 20px;
  display: block;
  width: 86%;
  margin-left: 4%;
  font-size: 22px;
  line-height: 44px;
  margin-bottom: 36px;
  border: none;
  border-bottom: 2px solid rgba(0,0,0,1);
  min-width: 250px;
  padding-left: 5px;
  outline: none;
  background-color: white;
  color: #2C3743;
  font-family: 'Merienda', cursive;
}

.donate-btn {
  padding: 10px 15px;
  display: inline;
  color: white;
  background-color: #2C3743 ;
  font-size: 18px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  bottom: 10px;
  font-family: inherit;
  border: none;
}

.donate-btn:hover{
  background-color: #b9a666 ;
  transform: scale(1.05);
  transition-duration: 0.5s;
  cursor: pointer;
}

.city-container{
  margin-left: 25%;
}

.select-css {
	display: block;
	font-size: 16px;
	padding: 10px 15px 10px 10px;
  width: 65%;
	margin: 30px 0px;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	appearance: none;
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
  font-family: 'Merienda', cursive;
}

.select-css::-ms-expand {
  display: none;
}

.select-css:hover {
  border-color: #888;
  cursor: pointer;
}

.select-css:focus {
	border-color: #aaa;
	color: #222;
	outline: none;
}

.select-css option {
	font-weight:normal;
}

[type="radio"]{
  margin-left: 10px;
}

[type="radio"]:hover{
  cursor: pointer;
}

/* About me */
.about-me-person{
  display: inline-block;
  text-align: justify;
}

.about-me-person img {
  float: left;
  margin: 20px 5px 20px 50px;
  width: 250px;
  height: 300px;
  border: 10px solid #b9a666;
}

.about-me-person p {
  margin: 2% 5%;
  float: right;
  width: 56%;
}

.about-me-person p b{
  font-size: 1.5em;
}

.about-me-person #middle-img {
  float: right;
  margin: 20px 50px 20px 10px;
}

.about-me-person #middle-p {
  width: 90%;
  margin: 3% 5%;
}

/* Searchbar */
.search-bar{
  margin-top: 12px;
}

#myInput {
  background-image: url('https://www.w3schools.com/css/searchicon.png');
  background-image: w;
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 90%; 
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd; 
  margin-bottom: 12px;
}

.gm-style .gm-style-iw {
  border-radius: 3px;
  font-family: 'Merienda', cursive;
}
