@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
/* general styles */
body{
    text-align: center;
    margin: 0;
    background-color: #2C3743;  
}

main{
    width: 800px;
    display: inline-block;
    background-color: #D8DCE4;
    height: 1000px;
}

.centerHead{
    width: 155px;
    display: inline-block;
}

.alignLeft{
    text-align: left;
}

.link_nav{
    margin: 0px 10px;
    padding: 0;
    box-sizing: border-box;
}

nav ,.h_nav{
    justify-content: space-between;
    align-items: center;
    display: flex;
    background-color: #8B90B4;
    padding: 10px;
}

h1{
    font-family:"montserrat", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: whitesmoke;
}

ul{
    display: inline;
}

header{
    position: sticky;
    top:0;
    z-index: 999;
}

header ul {
    width: 50%;
}

.link_nav li{
    display: inline;
    padding: 0  2%;
}

.link_nav li a{
    transition: all 0.3s ease 0s;
}

.link_nav li a:hover{
    color:#2C3743;
}

footer {
    width: 100%;
    background: #8B90B4;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left:0;
}

.footer-logo{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    max-width: 50px;
}

.footer-logo ul {
    display: inline-block;
    padding-inline-start: 0px;
}

.footerItem a {
    
    display: inline;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}


/* Confirmation pop-up message */
#confirm {
    display: none;
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    
    background-color: rgba(0,0,0,0.4); 
  }
  
  #secondDiv  {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 200px;
    align-content: center;
    margin: auto;
  }
  
  /* The Close Button */
  #span {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  #secondDiv p{
      text-align: center;
      font-size: 40px;
      color: saddlebrown;
      padding-bottom: 15px;
      font-weight: bolder;
  }

  #secondDiv  a{
      margin-top: 50px;
    text-align: center;
    font-size: 24px;
    color: black;
    display: block; 
  }


/* index styles */
#figure-logo{
    background-color: white;
    padding: 20px;
    box-shadow: 10px 0px 10px #2C3743;
}

#img-logo{
    width: 200px;
}

#description {
    word-spacing: 10px;
    line-height: 1.5;
    padding: 20px;
    color: #2C3743;
}

.buttons-index{
    display: inline-block;
    background-color: #2C3743 ;
    width: 200px;
    height: 55px;
    margin: 25px;
    padding-top: 45px;
    border-radius: 3px;
}

.buttons-index:hover{
    background-color: #8B90B4 ;
    transition-duration: 0.5s;
  
}

div#button{
    height: 150px;
    width: fit-content;
    margin: 0 auto;
}

div#categories{
    background-color: white;
    padding: 20px;
}







a{
    text-decoration: none;
    font-family:"montserrat";
    font-weight: 500;
    font-size: 14px;
    color: whitesmoke;
}

.columns {
    display: inline-block;
    margin-right: 100px;
}

.fieldset-donate{
    position: relative;
    padding-bottom: 40px;
    width: 50%;
    border: 1px solid;
}

.input-donate {
    display: block;
    height: 20px;
    width: 95%;
}

.donate-btn {
    display: inline;
    width: fit-content;
    text-align: left;
    position: absolute;
    right: 20px;
    bottom: 10px;
}

