@import url('https://fonts.googleapis.com/css2?family=Merienda&family=Montserrat:wght@300&display=swap');


/* User name */
#welcome {
    padding-top: 4%;
    padding-left: 4%;
    margin: 30px auto 0px auto; 
    width:90%;
    height: 80%;
    background-color: #d8dce48a;
    border-radius: 5px;  
}

#namelabel {
    font-size: 24px;
    margin-left: -5%;
    margin-bottom: 4%;
    display: block;
}

#name {
    height: 30% ;
    width: 50%;
    margin-left: 23%;
    border-radius: 15px;
    font-size: larger;
    border: 0px;
    display: block;
    text-indent: 60px;
}

#name:hover {
    border: 0px black;
}

#namesubmit {
    font-size: 22px;
    margin-left: 40%;
    margin-top: 4%;
    border-radius: 5px;
    padding: 1% 4% 1% 4%;
    border: 0;
    display: block;
    outline: none;
}

#container {
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    border: 1px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    height: 50%;
    min-height: 275px;
    width: 50%;
    padding: 20px;
    text-align: center;
}

body, html {
    height: 97.4%;
    margin: 0;
}
  
* {
    box-sizing: border-box;
    font-family: 'Merienda', cursive;
}
  
.bg-image {
    /* The image used */
    background-image: url("https://miro.medium.com/max/11914/0*nkMHIYllnotYcos_");
    
    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(5px);
    
    /* Full height */
    height: 100%; 
    
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Header */
nav ,.h_nav{
    font-family: 'Montserrat', sans-serif;
    justify-content: space-between;
    align-items: center;
    display: flex;
    background-color: #2C3743;
    padding: 10px;
    font-size: 1.2em;
    color: #b9a666;
}

.link_nav{
    margin: 0px 10px;
    padding: 0;
    box-sizing: border-box;
}

.centerHead{
    width: 155px;
    display: inline-block;
}

.alignLeft{
    text-align: left;
}